# Compiled output
out/
*.class

# IntelliJ IDEA
./.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries/
.idea/dataSources/
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
*.iws
*.ipr

# macOS
.DS_Store
